# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# local dotenv environment variables file
.env*.local

# Next build output
.next

# OSX Finder folder settings
.DS_STORE

# Vercel (previously Now) deployment settings
.vercel
.now

# Lock files
yarn.lock
package-lock.json

# Local Netlify folder
.netlify
